<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var energy_type = '{{TYPE_VAR}}';
        var energy_counts = {{E_COUNTS}};  // e.g. {AK: [...], AL: [...], AR: [...], ...}
    </script>
</head>
<body onload = "fillInStates(); normalizeEnergyCounts();">
    <h1>{{TYPE}}</h1>
    <table id = "table">
        <tr id="headers">
            <th>Year</th>
        </tr>
        {{DATA}}
    </table>
</body>
</html>
<script>
    var states  = ['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY',
        'LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA',
        'RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'];
    function fillInStates() {
        let headers = document.getElementById("headers");
        for (let i = 0; i < states.length; i++) {
            let stateHeader = document.createElement("th");
            stateHeader.textContent = states[i];
            headers.appendChild(stateHeader);
        }
        let totalHeader = document.createElement("th");
        totalHeader.textContent = "Total";
        headers.appendChild(totalHeader);
    }

    function normalizeEnergyCounts() {
        let energyCountsObject = {};
        let energyCountsCopy = [];

        for (let i = 0; i < states.length; i++) {
            energyCountsCopy[i] = [];
        }
        
        for (let i = 0; i < energy_counts.length; i++) {
            energyCountsCopy[i % 51].push(energy_counts[i]);
        }

        for (let i = 0; i < states.length; i++) {
            let energyArr = [];

            for (let j = 0; j < 59; j++) { //2018-1960 = 58 + 1 to count 1960 itself
                energyArr.push(energyCountsCopy[i][j]);
            }
            energyCountsObject[states[i]] = energyArr;
        }
        energy_counts = energyCountsObject;
    }
</script>
