<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var energy_type = '{{TYPE_VAR}}';
        var energy_counts;  // e.g. {AK: [...], AL: [...], AR: [...], ...}
    </script>
</head>
<body>
    <div class="top-bar">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="/year/2018">Home</a></li>
            <li>
                <a href="">State</a>
                <ul class="menu onlyShowFive" id="states"></ul>
            </li>
            <li>
                <a href="">Year</a>
                <ul class="menu onlyShowFive" id="years"></ul>
            </li>
            <li>
                <a href="">Energy Source</a>
                <ul class="menu" id="energy"></ul>
            </li>
        </ul>
    </div>

    <div class="grid-container">
        <div class="float-left" style="padding-top:300px">
            <h1>{{TYPE}}</h1>
        </div>
        <div class="float-right" style="padding-top: 50px">
            <img src="{{IMG}}" alt="{{ALT}}" />
        </div>
        <div style="clear: both"></div>
        <div class="grid-x grid-padding-x">
            <div class="cell auto table-scroll">
                <table>
                    <tr id="headers">
                        <th>Year</th>
                    </tr>
                    {{DATA}}
                </table>
            </div>
        </div>

        <hr /><br />
        <canvas id="myChart" style="width:100%;"></canvas>
    
        <hr /><br />
        <div class="float-left">
            <a id="previous">Previous</a>
        </div>
    
        <div class="float-right">
            <a id="next">Next</a>
        </div>
    </div>

    <script src="/js/nav.js"></script>
    <script>
        function fillInStates() {
            let headers = document.getElementById("headers");
            console.log(states.length);
            for (let i = 0; i < states.length; i++) {
                let stateHeader = document.createElement("th");
                stateHeader.textContent = states[i];
                headers.appendChild(stateHeader);
            }
            let totalHeader = document.createElement("th");
            totalHeader.textContent = "Total";
            headers.appendChild(totalHeader);
        }
    
        function normalizeEnergyCounts() {
            let energyCountsObject = {};
            let energyCountsCopy = [];
    
            for (let i = 0; i < states.length; i++) {
                energyCountsCopy[i] = [];
            }
            
            for (let i = 0; i < energy_counts.length; i++) {
                energyCountsCopy[i % 51].push(energy_counts[i]);
            }
    
            for (let i = 0; i < states.length; i++) {
                let energyArr = [];
    
                for (let j = 0; j < 59; j++) { //2018-1960 = 58 + 1 to count 1960 itself
                    energyArr.push(energyCountsCopy[i][j]);
                }
                energyCountsObject[states[i]] = energyArr;
            }
            energy_counts = energyCountsObject;
            console.log(energy_counts);
        }
        fillInStates();
        normalizeEnergyCounts();

        var xValues = [];
        for (let i = 0; i < 59; i++) {
            xValues.push(i + 1960);
        }


        var myChart = new Chart("myChart", {
            type: 'line',
            data: {
                labels: xValues,
                datasets: [],
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: `Graph of each State's Yearly Consumption for ${energy_type}`
                    }
                }
            },
        });

        for(let i = 0; i < 50; i++) {
            myChart.data.datasets.push({
                label: states[i],
                borderColor: '#'+(0x1000000+Math.random()*0xffffff).toString(16).substr(1,6),
                data: energy_counts[states[i]]
            });
        }
        myChart.update();

    </script>
    
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
</html>

