<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>

    <script type="application/javascript">
        // `state` and arrays of consumption per year => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var state = '{{STATE_VAR}}';
        var coal_counts;  // e.g. [1234, 2567, ...]
        var natural_gas_counts;
        var nuclear_counts;
        var petroleum_counts;
        var renewable_counts;
    </script>
</head>

<body>
    <div class="top-bar">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="/year/2018">Home</a></li>
            <li>
                <a href="">State</a>
                <ul class="menu onlyShowFive" id="states"></ul>
            </li>
            <li>
                <a href="">Year</a>
                <ul class="menu onlyShowFive" id="years"></ul>
            </li>
            <li>
                <a href="">Energy Source</a>
                <ul class="menu" id="energy"></ul>
            </li>
        </ul>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell auto">
                <h1>{{STATE}}</h1>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <table class="table-scroll">
                    <tr>
                        <th>Year</th>
                        <th>Coal</th>
                        <th>Natural Gas</th>
                        <th>Nuclear</th>
                        <th>Petroleum</th>
                        <th>Renewable</th>
                        <th>Total</th>
                    </tr>
                    {{DATA}}
                </table>
            </div>
        </div>

        <hr /><br />
        <canvas id="myChart" style="width:100%;"></canvas>

        <hr /><br />
        <div class="float-left">
            <a id="previous">Previous</a>
        </div>

        <div class="float-right">
            <a id="next">Next</a>
        </div>
    </div>

    <script>
        var xValues = [];
        for (let i = 0; i < 59; i++) {
            xValues.push(i + 1960);
        }

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    data: coal_counts,
                    borderColor: "red",
                    backgroundColor: "red",
                    label: "Coal",
                    fill: true
                }, {
                    data: natural_gas_counts,
                    borderColor: "green",
                    backgroundColor: "green",
                    label: "Natural Gas",
                    fill: true
                }, {
                    data: nuclear_counts,
                    borderColor: "blue",
                    backgroundColor: "blue",
                    label: "Nuclear",
                    fill: true
                }, {
                    data: petroleum_counts,
                    borderColor: "orange",
                    backgroundColor: "orange",
                    label: "Petroleum",
                    fill: true
                }, {
                    data: renewable_counts,
                    borderColor: "purple",
                    backgroundColor: "purple",
                    label: "Renewable",
                    fill: true
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    y: {
                        stacked: true,
                    }
                }, interaction: {
                    intersect: false
                },
                plugins: {
                    title: {
                        display: true,
                        text: `Percentage of Energy Consumption of Each Energy Type in ${state}`
                    }
                }
            }
        });
    </script>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
    <script src="/js/nav.js"></script>
</body>

</html>