<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script type="application/javascript">
        // `state` and arrays of consumption per year => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var state = '{{STATE_VAR}}';
        var coal_counts = {{COAL_COUNTS}};  // e.g. [1234, 2567, ...]
        var natural_gas_counts = {{NG_COUNTS}};
        var nuclear_counts = {{N_COUNTS}};
        var petroleum_counts = {{P_COUNTS}};
        var renewable_counts = {{R_COUNTS}};
    </script>
</head>
<body onload="console.log(state, coal_counts, natural_gas_counts, nuclear_counts, petroleum_counts, renewable_counts)">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell auto">
                <h1>{{STATE}}</h1>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <table class="table-scroll">
                    <tr>
                        <th>Year</th>
                        <th>Coal</th>
                        <th>Natural Gas</th>
                        <th>Nuclear</th>
                        <th>Petroleum</th>
                        <th>Renewable</th>
                        <th>Total</th>
                    </tr>
                    {{DATA}}
                </table>
            </div>
        </div>
        <canvas id="myChart" style="width:100%;"></canvas>

    </div>




    <script>
        var xValues = [];
        for (let i = 0; i < 59; i++) {
            xValues.push(i + 1960);
        }

        var percentages = [];

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{ 
                        data: coal_counts,
                        borderColor: "red",
                        backgroundColor: "red",
                        label: "Coal",
                        fill: true
                    }, { 
                        data: natural_gas_counts,
                        borderColor: "green",
                        backgroundColor: "green",
                        label: "Natural Gas",
                        fill: true
                    }, { 
                        data: nuclear_counts,
                        borderColor: "blue",
                        backgroundColor: "blue",
                        label: "Nuclear",
                        fill: true
                    }, { 
                        data: petroleum_counts,
                        borderColor: "orange",
                        backgroundColor: "orange",
                        label: "Petroleum",
                        fill: true
                    }, { 
                        data: renewable_counts,
                        borderColor: "purple",
                        backgroundColor: "purple",
                        label: "Renewable",
                        fill: true
                    }
            ]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Month'
                        }
                    },
                    y: {
                            stacked: true,
                            title: {
                            display: true,
                            text: 'Value'
                        }
                    }
                }, 
                interaction: {
                    mode: 'nearest',
                    axis: 'y',
                    intersect: false
                }
            }
        });

    </script>
</body>
</html>
