<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script type="application/javascript">
        // `year` and total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var year;
        var coal_count;
        var natural_gas_count;
        var nuclear_count;
        var petroleum_count;
        var renewable_count;
    </script>
</head>
<body>
    <h1>{{YEAR}}</h1>
    <table>
        <tr>
            <th>Year</th>
            <th>Coal</th>
            <th>Natural Gas</th>
            <th>Nuclear</th>
            <th>Petroleum</th>
            <th>Renewable</th>
        </tr>
        {{DATA}}
    </table>
</body>
</html>
