<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>

    <script type="application/javascript">
        // `year` and total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var year = '{{YEAR_VAR}}';
        var coal_count = '{{COAL_VAR}}';
        var natural_gas_count = '{{NG_VAR}}';
        var nuclear_count = '{{N_VAR}}';
        var petroleum_count = '{{P_VAR}}';
        var renewable_count = '{{R_VAR}}';
    </script>
</head>

<body>

    <!-- Menu Bar -->
    <div data-sticky-container></div>
        <div class="top-bar" data-sticky data-options="marginTop:0;">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="/year/2018">Home</a></li>
                <li>
                    <a href="">State</a>
                    <ul class="menu onlyShowFive" id="states"></ul>
                </li>
                <li>
                    <a href="">Year</a>
                    <ul class="menu onlyShowFive" id="years"></ul>
                </li>
                <li>
                    <a href="">Energy Source</a>
                    <ul class="menu" id="energy"></ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-container">

        <!-- Year Header -->
        <div class="grid-x grid-padding-x">
            <div class="cell auto">
                <h1 style="font-size: 1.5rem;">Energy Consumption of US States in the Year</h1>
                <h1>{{YEAR}}</h1>
                <h1 style="font-size: 1.2rem; font-style: italic;">units are measured in billion Btu</h1>
            </div>
        </div>

        <!-- Main Table -->
        <div class="grid-x">
            <div class="cell auto">
                <table class="table-scroll">
                    <tr style="text-align: left;">
                        <th>State</th>
                        <th>Coal</th>
                        <th>Natural Gas</th>
                        <th>Nuclear</th>
                        <th>Petroleum</th>
                        <th>Renewable</th>
                        <th>Total</th>
                    </tr>
                    {{DATA}}
                </table>
            </div>
        </div>

        <!-- Chart Spot -->
        <hr /><br />
        <canvas id="myChart" style="width:100%;"></canvas>

        <hr /><br />
        <div class="float-left">
            <a id="previous" style="background-color: #e7e7e7; padding: 10px 24px;">Previous</a>
        </div>

        <div class="float-right" style="margin-bottom: 5rem;">
            <a id="next" style="background-color: #e7e7e7; padding: 10px 24px;">Next</a>
        </div>
    </div>
</body>

<script>

    // Chart Detail
    var xValues = ["Coal", "Natural Gas", "Nuclear", "Petroleum", "Renewable"];
    var yValues = [coal_count, natural_gas_count, nuclear_count, petroleum_count, renewable_count];
    var barColors = ["red", "green", "blue", "orange", "purple"];
    let max = 0;
    for (let i = 0; i < yValues.length; i++) {
        let curr = parseInt(yValues[i])
        if (max < curr) {
            max = curr;
        }
    }
    max = Math.round(Math.ceil(max / 1000000)) * 1000000;

    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                label: 'Amount Consumed (in billion Btu)',
                data: yValues,
                backgroundColor: barColors
            }]

        },
        options: {
            plugins: {
                legend: { display: false },
                title: {
                    display: true,
                    text: `Graph of Energy Consumption for the Entire US in ${year}`
                }
            }, scales: {
                y: {
                    min: 0.0,
                    max: max
                }
            }
        }
    });
</script>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/vendor.js"></script>
<script src="/js/foundation.js"></script>
<script type="application/javascript">
    $(document).foundation();
</script>
<script src="/js/nav.js"></script>

</html>